<h1 class="text-info text-center">Test: <%= @cards_test.test.name%></h1>

<div class="text-center">
  Progress: <strong><%= @cards_test.test.cards_tests.unanswered.size %></strong> question(s) left in test
</div>
<div class="progress">
 <div class="progress-bar bg-success" style="width:<%= test_progress_percentage(@cards_test.test)%>"><%= test_progress_percentage(@cards_test.test)%></div>
</div>

<br><br>
<%= render 'form', cards_test: @cards_test %>

<br>

<div class="text-center">
  <p><strong>(f)lip &nbsp;&nbsp; (c)orrect &nbsp;&nbsp; (i)ncorrect</strong></p>
</div>
