<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @fillin_card.fillin_domain.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @fillin_card.fillin_category.name %>
</p>


<h3 class="text-primary">Question</h2>
<div class="card">
  <div class="card-body">
      <%= @fillin_card.question %>
  </div>
</div>

<br>

<h3 class="text-info">Additional Info</h2>
<div class="card">
  <div class="card-body">
      <%= @fillin_card.additional_info %>
  </div>
</div>





<%= link_to 'Edit', edit_fillin_card_path(@fillin_card) %> |
<%= link_to 'Back to Fillin Category', fillin_category_path(@fillin_card.fillin_category) %>

<br><br>
