<p id="notice"><%= notice %></p>


<p>
  <strong>Domain:</strong>
  <%= @card.domain.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @card.category.name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @card.front %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @card.back %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
