<p id="notice"><%= notice %></p>

<h1>Cards Tags</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards_tags.each do |cards_tag| %>
      <tr>
        <td><%= cards_tag.card_id %></td>
        <td><%= cards_tag.tag_id %></td>
        <td><%= link_to 'Show', cards_tag %></td>
        <td><%= link_to 'Edit', edit_cards_tag_path(cards_tag) %></td>
        <td><%= link_to 'Destroy', cards_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cards Tag', new_cards_tag_path %>
