<%= form_with(model: fillin_card_test) do |form| %>
  <% if fillin_card_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fillin_card_test.errors.count, "error") %> prohibited this fillin_card_test from being saved:</h2>

      <ul>
        <% fillin_card_test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h2 class="text-primary">Question</h2>
  <div class="card">
    <div class="card-body">
        <%= custom_trix_safe(@question_txt) %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-primary">Your Fill-in Answer(s)</h3>
      <% first_unhidden_field_already_focused = false %>
      <%= form.fields_for :fillin_card_test_user_answers do |user_answer_form| %>
        <%= user_answer_form.hidden_field :id%>
        <% if !user_answer_form.object.hidden? %>
            <%= label_tag :displayed_answer, "Q#{user_answer_form.object.fillin_card_answer.position}: " %>
            <p readonly class="form-control"><%=user_answer_form.object.fillin_card_answer.answer%></p>
        <% else %>
          <div class="field">
            <%= user_answer_form.label :user_answer, "Q#{user_answer_form.object.fillin_card_answer.position}: " %>
            <% if first_unhidden_field_already_focused == true%>
              <%= user_answer_form.text_field :user_answer, class: 'form-control' %>
            <% else %>
              <%= user_answer_form.text_field :user_answer, class: 'form-control', autofocus: true %>
              <% first_unhidden_field_already_focused = true %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
      &nbsp;
    </div>
  </div>




  <br>
  <div class="actions">
    <%= form.submit "Check Answer(s)" %>
  </div>
<% end %>
