<h1 class="text-info text-center">Test: <%= @fillin_card_test.fillin_test.name%></h1>

<div class="text-center">
  Progress: <strong><%= @fillin_card_test.fillin_test.fillin_card_tests.unanswered.size %></strong> question(s) left in test
</div>
<div class="progress">
 <div class="progress-bar bg-success" style="width:<%= fillin_test_progress_percentage(@fillin_card_test.fillin_test)%>"><%= fillin_test_progress_percentage(@fillin_card_test.fillin_test)%></div>
</div>

<br><br>
<%= render 'form', fillin_card_test: @fillin_card_test %>

<br>
