<p id="notice"><%= notice %></p>

<p>
  <strong>Fillin card:</strong>
  <%= @fillin_card_test.fillin_card_id %>
</p>

<p>
  <strong>Position hide:</strong>
  <%= @fillin_card_test.position_hide %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @fillin_card_test.correct %>
</p>

<p>
  <strong>Test:</strong>
  <%= @fillin_card_test.test_id %>
</p>

<%= link_to 'Edit', edit_fillin_card_test_path(@fillin_card_test) %> |
<%= link_to 'Back', fillin_card_tests_path %>
