<%= form_with(model: test) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col-sm-12">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <br>

  <div class="field">
    <%= form.check_box :question_first %>
    <%= form.label :question_first, "Uncheck to Show Back of Card First" %>
  </div>

  <br>

  <h3 class='text-muted'>Select Categories. All cards within that category will be added</h3>
  <div class="field">
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :test_creation_selectbox_to_s) do |b| %>
      <span class="badge badge-pill badge-info"><%= b.object.cards.size%> </span>
      <%= b.check_box %>
      <%= b.label %>
      <br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
