<p id="notice"><%= notice %></p>

<h1>Tests <%= link_to '+ New Test', new_test_path, class: "btn btn-sm btn-success" %> <%= link_to 'Combine Tests', combine_new_tests_path, class: "btn btn-sm btn-success" %></h1>

<div id="accordion">

<% @tests.each do |test| %>

  <div class="card">
    <div class="card-header">
      <h3>
        <small class='badge badge-secondary'><%=test.total_cards%></small>
        &nbsp;&nbsp;
        <%= test.name%>
        <small>
        <a class="card-link" data-toggle="collapse" class="align-right" href="#collapse<%=test.id%>">
          (see results)
        </a>
        </small>

        <% unless test.test_not_started?%>
          <small><%= test.cards_correct %> out of <%= test.total_cards%> correct</small>
        <% end %>

      </h3>
      <% if test.cards.any? %>
        <%= link_to "Start/Restart Test", edit_cards_test_path(test.cards_tests.first, start_test: true), class: "btn btn-sm btn-info"%>
      <% end %>
      <%= link_to 'Destroy Test', test, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

      <% if test.completed? && test.at_least_one_card_incorrect?%>
        <%= link_to 'Create Test with Incorrect Cards', create_on_incorrect_test_path(test), class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
    <div id="collapse<%=test.id%>" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Domain</th>
              <th>Category</th>
              <th>Front</th>
              <th>Back</th>
              <th>Correct?</th>
            </tr>
          </thead>

          <tbody>
            <% test.cards_tests.each do |card_test| %>
              <tr class="<%=card_answer_styling(card_test)%>">
                <td><%= card_test.card.domain.name %></td>
                <td><%= card_test.card.category.name %></td>
                <td><%= card_test.card.front %></td>
                <td><%= card_test.card.back %></td>
                <td><%= card_test.correct_to_s %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>

</div>
