<p id="notice"><%= notice %></p>

<h1>Tests <%= link_to '+ New Test', new_test_path, class: "btn btn-sm btn-success" %></h1>

<% @tests.each do |test| %>
  <div class="text-center">
    <h2>
      Test: <%= test.name%>
    </h2>
    <small><%= link_to 'Destroy Test', test, method: :delete, data: { confirm: 'Are you sure?' } %> </small>
    <p class="text-muted">(Show Front of Card First? <%= test.question_first?%>)</p>\
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Category</th>
        <th>Front</th>
        <th>Back</th>
        <th>Correct?</th>
      </tr>
    </thead>

    <tbody>
      <% test.cards_tests.each do |card_test| %>
        <tr class="<%= card_test.correct? ? 'text-success' : ''%>">
          <td><%= card_test.card.domain.name %></td>
          <td><%= card_test.card.category.name %></td>
          <td><%= card_test.card.front %></td>
          <td><%= card_test.card.back %></td>
          <td><%= card_test.correct_to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>`
<% end %>
