<p id="notice"><%= notice %></p>

<div class="text-center">
  <%= link_to "Start/Restart Test", edit_cards_test_path(@test.cards_tests.first, start_test: true), class: "btn btn-info"%>
</div>

<h1>Test Name: <%= @test.name%></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Category</th>
      <th>Front</th>
      <th>Back</th>
      <th>Correct?</th>
    </tr>
  </thead>

  <tbody>
    <% @test.cards_tests.each do |card_test| %>
      <tr>
        <td><%= card_test.card.domain.name %></td>
        <td><%= card_test.card.category.name %></td>
        <td><%= card_test.card.front %></td>
        <td><%= card_test.card.back %></td>
        <td><%= card_test.correct_to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back to all tests', tests_path, class: "btn btn-info" %>
